#header {
	font-size: 36px;
	padding-top: 100px;
}

#description {
	font-size: 14px;
}

#show {
	font-size: 18px;
	padding-top: 100px;
}

#background {
	/*background-color: lightblue;*/
	text-align: center;
}

#index {
	margin: auto;
}

.field {
	/*font-weight: bold;*/
}