#header {
	font-size: 50px;
	padding-top: 150px;
	position: relative;
}

#description {
	text-align: justify-all;
	font-size: 14px;
	padding-top: 50px;
	position: relative;
}

#footer {
	position: relative;
	bottom: 0px;
	width: 100vw;
}

#show {
	font-size: 18px;
	padding-top: 100px;
}

#background {
	/*background-color: lightblue;*/
	text-align: center;
}		

#index {
	height: 100vh;
}